.body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.slika {
    width: 40%;
    height: 40%;
    
}

.user_img, .sl{
    width: 80px;
    height: 80px;
    position: absolute left;
    
}

.glavni{
    min-height: 350px;
}

.okvir{
    text-align: left;
    margin: 7px;
    justify-content: space-between;
}


label {
    width: 30%;
    height: 30px;
    margin: 5px;
    font-size: 16px;
}

.left, .right{
    float: left;
    width: 50%;
}
@media (prefers-reduced-motion: no-preference) {
    .user_img {
      animation: App-logo-spin infinite 3s linear;
    }
  }

@keyframes App-logo-spin {
    from {
      transform: scaleY(0.1);
    }
    to {
      transform: scaleY(1);
    }
  }

.icons{
  width: 20px;
  height: 20px;
  position:absolute right;
  margin: 0;
}

