.frame {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header{
    margin: 20pt;
    position: top;
    float: left;
    color: rgb(172, 22, 22);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
    h1{
        text-transform: uppercase;
        font-style: normal;
    }

    .headerFrame{
        float: left;
        width: max-content;
        height: fit-content;
    }

.frameRow {
    flex-direction: row;
    width: 90%;
    height: 100%;
}

.desni{
    float: right;
    width: 15%;
    padding: 1.2em;
    text-align: left;
    justify-content: space-between;
}

.sredina{
    float: left;
    width: auto;
    text-align: left;
    padding: 1.2em;
    margin: 20pt;
}

.lijevi{
    width: 20%;
    height: 100%;
    float: left;
    background-color: white;
    text-align: center;
    padding: 1.2em;
    margin: 20pt;
    border-radius: 4px;
    border: 1px solid gray;
}
.kap_img {
    width: 30%;
    height: 20%;
    position: relative;
    display: inline-block;
    margin: 7px; 
}

@media (prefers-reduced-motion: no-preference) {
    .kap_img {
      animation: App-logo-spin infinite 3s linear;
    }
  }

@keyframes App-logo-spin {
    from {
      transform: scaleY(0.1);
    }
    to {
      transform: scaleY(1);
    }
  }

  .img {
      width: 650px;
  }

.ListaButtona{
    width: 90%;
    height: 5em;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    background-color:rgb(172, 22, 22);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.Login {
    border-radius: 8px;
    width: 30%;
    height: 30px;
    font-size: 16px;
    color: white;
    background-color:rgb(172, 22, 22);
    border: 2px solid rgb(172, 22, 22);
    transition-duration: 0.4s;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
  }
  
  .Login:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .openLogin {
      color: white;
      text-decoration: none;
      font-weight: normal;
  }
  .naslov{
      font-weight: bold;
      font-size: 16px;
      color: rgb(172, 22, 22);
  }

  .paragraf {
      color: rgb(60, 60, 60);
      font-size: 14px;
      font-style: unset;
  }
